force-app/main/default/flows/Indicators.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>tableIndicatorBundle</name>
        <label>tableIndicatorBundle</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorBundleSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theadIndicatorBundle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorBundles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorBundleAddRows</name>
        <label>tableIndicatorBundleAddRows</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorBundleSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>trowIndicatorBundle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBundleObjectPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBundleObjectPrefix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorBundles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorBundleEnd</name>
        <label>tableIndicatorBundleEnd</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorBundleSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Indicator_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorBundleItem</name>
        <label>tableIndicatorBundleItem</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorBundleItemSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theadIndicatorBundleItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorBundleItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorBundleItemAddRows</name>
        <label>tableIndicatorBundleItemAddRows</label>
        <locationX>264</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorBundleItemSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>trowIndicatorBundleItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndicatorBundleItemObjectPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIndicatorBundleItemObjectPrefix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorBundleItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItem</name>
        <label>tableIndicatorItem</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorItemSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theadIndicatorItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItemAddRows</name>
        <label>tableIndicatorItemAddRows</label>
        <locationX>264</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorItemSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>trowIndicatorItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndicatorItemObjectPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIndicatorItemObjectPrefix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItemBundleFooter</name>
        <label>tableIndicatorItemBundleFooter</label>
        <locationX>176</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorBundleItemSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Extensions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItemExtension</name>
        <label>tableIndicatorItemExtension</label>
        <locationX>176</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorItemExtensionSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theadIndicatorItemExtension</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorItemExtensions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItemExtensionAddRows</name>
        <label>tableIndicatorItemExtensionAddRows</label>
        <locationX>264</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorItemExtensionSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>trowIndicatorItemExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndicatorItemExtensionObjectPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIndicatorItemExtensionObjectPrefix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIndicatorItemExtensions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItemExtensionFooter</name>
        <label>tableIndicatorItemExtensionFooter</label>
        <locationX>176</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorItemExtensionSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrIndicatorItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tableIndicatorItemFooter</name>
        <label>tableIndicatorItemFooter</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>tableIndicatorItemSetup</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Indicator_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>IndicatorBundleItemsSort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>IndicatorBundleItemsSort</label>
        <locationX>176</locationX>
        <locationY>1910</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indicator_Bundle_Items</collectionReference>
        <connector>
            <targetReference>tableIndicatorBundleItem</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Indicator_Bundle__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>IndicatorBundleSort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>IndicatorBundleSort</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indicator_Bundles</collectionReference>
        <connector>
            <targetReference>tableIndicatorBundle</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>sObject__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Label</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>IndicatorItemExtensionsSort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>IndicatorItemExtensionsSort</label>
        <locationX>176</locationX>
        <locationY>2726</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Extensions</collectionReference>
        <connector>
            <targetReference>tableIndicatorItemExtension</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Indicator_Item__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Priority__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>IndicatorItemSort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>IndicatorItemSort</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Indicator_Items</collectionReference>
        <connector>
            <targetReference>tableIndicatorItem</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>sObject__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Label</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>fBundleItemName</name>
        <dataType>String</dataType>
        <expression>&quot;TEXT&quot;</expression>
    </formulas>
    <formulas>
        <name>fBundleObjectPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!loopIndicatorBundles.Id},3)</expression>
    </formulas>
    <formulas>
        <name>fIndicatorBundleItemObjectPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!loopIndicatorBundleItems.Id},3)</expression>
    </formulas>
    <formulas>
        <name>fIndicatorBundleItemObjectURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/setup/CustomMetadata/page?address=%2F&quot;&amp;{!vIndicatorBundleItemObjectPrefix}&amp;&quot;%3Fsetupid%3DCustomMetadata&quot;</expression>
    </formulas>
    <formulas>
        <name>fIndicatorBundleObjectURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/setup/CustomMetadata/page?address=%2F&quot;&amp;{!vBundleObjectPrefix}&amp;&quot;%3Fsetupid%3DCustomMetadata&quot;</expression>
    </formulas>
    <formulas>
        <name>fIndicatorItemExtensionObjectPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!loopIndicatorItemExtensions.Id},3)</expression>
    </formulas>
    <formulas>
        <name>fIndicatorItemExtensionObjectURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/setup/CustomMetadata/page?address=%2F&quot;&amp;{!vIndicatorItemExtensionObjectPrefix}&amp;&quot;%3Fsetupid%3DCustomMetadata&quot;</expression>
    </formulas>
    <formulas>
        <name>fIndicatorItemObjectPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!loopIndicatorItems.Id},3)</expression>
    </formulas>
    <formulas>
        <name>fIndicatorItemObjectURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/setup/CustomMetadata/page?address=%2F&quot;&amp;{!vIndicatorItemObjectPrefix}&amp;&quot;%3Fsetupid%3DCustomMetadata&quot;</expression>
    </formulas>
    <interviewLabel>Indicators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Indicators</label>
    <loops>
        <name>loopIndicatorBundleItems</name>
        <label>loopIndicatorBundleItems</label>
        <locationX>176</locationX>
        <locationY>2150</locationY>
        <collectionReference>Get_Indicator_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>tableIndicatorBundleItemAddRows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>tableIndicatorItemBundleFooter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopIndicatorBundles</name>
        <label>loopIndicatorBundles</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Indicator_Bundles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>tableIndicatorBundleAddRows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>tableIndicatorBundleEnd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopIndicatorItemExtensions</name>
        <label>loopIndicatorItemExtensions</label>
        <locationX>176</locationX>
        <locationY>2966</locationY>
        <collectionReference>Get_Extensions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>tableIndicatorItemExtensionAddRows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>tableIndicatorItemExtensionFooter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopIndicatorItems</name>
        <label>loopIndicatorItems</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <collectionReference>Get_Indicator_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>tableIndicatorItemAddRows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>tableIndicatorItemFooter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Extensions</name>
        <label>Get Extensions</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IndicatorItemExtensionsSort</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Indicator_Item_Extension__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indicator_Bundle_Items</name>
        <label>Get Indicator Bundle Items</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IndicatorBundleItemsSort</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Indicator_Bundle_Item__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indicator_Bundles</name>
        <label>Get Indicator Bundles</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IndicatorBundleSort</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Indicator_Bundle__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indicator_Items</name>
        <label>Get Indicator Items</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IndicatorItemSort</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Indicator_Item__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrIndicatorItems</name>
        <label>scrIndicatorDetails</label>
        <locationX>176</locationX>
        <locationY>3422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>tblIndicatorBundle</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fIndicatorBundleObjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Indicator Bundles&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;{!tableIndicatorBundleSetup}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tblIndicatorItem</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fIndicatorItemObjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Indicator Items&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;{!tableIndicatorItemSetup}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tblIndicatorBundleItem</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fIndicatorBundleItemObjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Indicator Bundle Items&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;{!tableIndicatorBundleItemSetup}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tblIndicatorExtension</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fIndicatorItemExtensionObjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Indicator Item Extensions&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;{!tableIndicatorItemExtensionSetup}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Indicator_Bundles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>theadIndicatorBundle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;thead&gt;
 &lt;tr&gt;
  &lt;th width=&quot;160px&quot;&gt;ID&lt;/th&gt;
  &lt;th width=&quot;200px&quot;&gt;Indicator Bundle Label&lt;/th&gt;
  &lt;th width=&quot;60px&quot;&gt;Active&lt;/th&gt;
  &lt;th width=&quot;200px&quot;&gt;sObject&lt;/th&gt;
  &lt;th width=&quot;200px&quot;&gt;Card Title&lt;/th&gt;
  &lt;th width =&quot;300px&quot;&gt;Description&lt;/th&gt;
 &lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>theadIndicatorBundleItem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;thead&gt;
  &lt;tr&gt;
    &lt;th width=&quot;160px&quot;&gt;ID&lt;/th&gt;
    &lt;th width=&quot;200px&quot;&gt;Bundle Item Label&lt;/th&gt;
    &lt;th width=&quot;60px&quot;&gt;Order&lt;/th&gt;
    &lt;th width=&quot;200px&quot;&gt;Bundle&lt;/th&gt;
    &lt;th width=&quot;200px&quot;&gt;Indicator Item&lt;/th&gt;
  &lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>theadIndicatorItem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;thead&gt;
  &lt;tr&gt;
    &lt;th width=&quot;160px&quot;&gt;ID&lt;/th&gt;
    &lt;th width=&quot;200px&quot;&gt;Indicator Item Label&lt;/th&gt;
    &lt;th width=&quot;60px&quot;&gt;Active&lt;/th&gt;
    &lt;th width=&quot;200px&quot;&gt;sObject&lt;/th&gt;
    &lt;th width=&quot;200px&quot;&gt;Field&lt;/th&gt;
    &lt;th width=&quot;300px&quot;&gt;Description&lt;/th&gt;
  &lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>theadIndicatorItemExtension</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;thead&gt;
 &lt;tr&gt;
  &lt;th width=&quot;160px&quot;&gt;ID&lt;/th&gt;
  &lt;th width=&quot;200px&quot;&gt;Item Extension Label&lt;/th&gt;
  &lt;th width=&quot;60px&quot;&gt;Active&lt;/th&gt;
  &lt;th width=&quot;200px&quot;&gt;Indicator Item&lt;/th&gt;
  &lt;th width=&quot;200px&quot;&gt;Priority&lt;/th&gt;
  &lt;th width=&quot;300px&quot;&gt;Description&lt;/th&gt;
 &lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>trowIndicatorBundle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;
  &lt;td&gt;&lt;a href=&quot;/lightning/setup/CustomMetadata/page?address=%2F{!loopIndicatorBundles.Id}&quot; target=&quot;_blank&quot;&gt;{!loopIndicatorBundles.Id}&lt;/a&gt;&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundles.Label}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundles.Active__c}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundles.sObject__c}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundles.Card_Text__c}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundles.Description__c}&lt;/td&gt;
 &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>trowIndicatorBundleItem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;
  &lt;td&gt;&lt;a href=&quot;/lightning/setup/CustomMetadata/page?address=%2F{!loopIndicatorBundleItems.Id}&quot; target=&quot;_blank&quot;&gt;{!loopIndicatorBundleItems.Id}&lt;/a&gt;&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundleItems.Label}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundleItems.Order__c}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundleItems.Indicator_Bundle__r.MasterLabel}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorBundleItems.Indicator_Item__r.MasterLabel}&lt;/td&gt;
 &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>trowIndicatorItem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;
    &lt;td&gt;&lt;a href=&quot;/lightning/setup/CustomMetadata/page?address=%2F{!loopIndicatorItems.Id}&quot; target=&quot;_blank&quot;&gt;{!loopIndicatorItems.Id}&lt;/a&gt;&lt;/td&gt;
    &lt;td&gt;{!loopIndicatorItems.Label}&lt;/td&gt;
    &lt;td&gt;{!loopIndicatorItems.Active__c}&lt;/td&gt;
    &lt;td&gt;{!loopIndicatorItems.sObject__c}&lt;/td&gt;
    &lt;td&gt;{!loopIndicatorItems.Field__c}{!loopIndicatorItems.Advanced_Field__c}&lt;/td&gt;
    &lt;td&gt;{!loopIndicatorItems.Description__c}&lt;/td&gt;
  &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>trowIndicatorItemExtension</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;
  &lt;td&gt;&lt;a href=&quot;/lightning/setup/CustomMetadata/page?address=%2F{!loopIndicatorItemExtensions.Id}&quot; target=&quot;_blank&quot;&gt;{!loopIndicatorItemExtensions.Id}}&lt;/a&gt;&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorItemExtensions.Label}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorItemExtensions.Active__c}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorItemExtensions.Indicator_Item__r.MasterLabel}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorItemExtensions.Priority__c}&lt;/td&gt;
  &lt;td&gt;{!loopIndicatorItemExtensions.Description__c}&lt;/td&gt;
 &lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>colIndicatorItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Indicator_Item__mdt</objectType>
    </variables>
    <variables>
        <name>tableIndicatorBundleItemSetup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table id=&quot;BundleItem&quot; width=&quot;100%&quot; border=&quot;1px grey&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableIndicatorBundleSetup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table id=&quot;Bundle&quot; width=&quot;100%&quot; border=&quot;1px grey&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableIndicatorItemExtensionSetup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;table id=&quot;Extension&quot; width=&quot;100%&quot; border=&quot;1px grey&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableIndicatorItemSetup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table id=&quot;Item&quot; width=&quot;100%&quot; border=&quot;1px grey&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>vBundleObjectPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIndicatorBundleItemObjectPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIndicatorItemExtensionObjectPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIndicatorItemObjectPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
